In [14]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import csv
import matplotlib.pyplot as plt
import requests
import pandas as pd


# File to Load (Remember to Change These)
file_to_load = "accident_clean.csv"

 # Save config information.
api_key="93d5fca255314e0c2740f5e63c0525be"

# Read Purchasing File and store into Pandas data frame
accident_data = pd.read_csv(file_to_load)
df=accident_data
accident_data.head()

,STATE,ST_CASE,VE_TOTAL,PERSONS,COUNTY,CITY,DAY,MONTH,YEAR,MILEPT,LATITUDE,LONGITUD
0,Alabama,10001,1,1,127,0,1,1,2015,1754,33.878653,-87.325328
1,Alabama,10002,1,1,83,0,1,1,2015,3604,34.910442,-86.908708
2,Alabama,10003,1,2,11,0,1,1,2015,1958,32.142006,-85.758456
3,Alabama,10004,1,1,45,0,4,1,2015,566,31.439814,-85.510300
4,Alabama,10005,2,2,45,2050,7,1,2015,308,31.319331,-85.515100

In [15]:
df.drop('MILEPT', axis=1, inplace=True)
type(df["LONGITUD"][0])

numpy.float64

In [5]:
url = "http://api.openweathermap.org/data/2.5/weather?"
units = "metric"
lat=df["LATITUDE"]
lon=df["LONGITUD"]
temp=[]




# Build partial query URL
query_url = f"{url}&appid=93d5fca255314e0c2740f5e63c0525be&lat={lat}&lon={lon}"


for row in df:
    
    try:
        
    response = requests.get(query_url).json()
    temp.append(response)

In [6]:
temp

[{'cod': '400', 'message': 'undefined is not a float'},
 {'cod': '400', 'message': 'undefined is not a float'},
 {'cod': '400', 'message': 'undefined is not a float'},
 {'cod': '400', 'message': 'undefined is not a float'},
 {'cod': '400', 'message': 'undefined is not a float'},
 {'cod': '400', 'message': 'undefined is not a float'},
 {'cod': '400', 'message': 'undefined is not a float'},
 {'cod': '400', 'message': 'undefined is not a float'},
 {'cod': '400', 'message': 'undefined is not a float'},
 {'cod': '400', 'message': 'undefined is not a float'},
 {'cod': '400', 'message': 'undefined is not a float'}]